<nav class="admin-sidebar">
  <%= link_to t("validator.dashboard.index.title"), admin_root_path %>
  <ul id="admin_menu" class="vertical menu" data-accordion-menu>
    <li id="approvals" <%= 'class=active' if controller_name == 'approvals' %>>
      <%= link_to validator_approval_index_path do %>
        <span class="icon-stats"></span>
        <%= t("validator.menu.approval") %>
      <% end %>
    </li>

    <li id="users" <%= "class=active" if controller_name == "users" %>>
      <%= link_to admin_root_path do %>
        <span class="icon-user"></span>
        <%= t("validator.menu.users") %>
      <% end %>
    </li>

  </ul>
</nav>

