<div class="row">
  <div class="small-12 columns">
    <h3 title="<%= "#{@supervisor_unit_status[:organization_id]}" %>" class="text-center">
      <%= "#{@supervisor_unit_status[:organization_description]}"%>
    </h3>
    <h4 title="<%= "#{@supervisor_unit_statuses.period.id}" %>" class="text-center">
      <%= "#{@supervisor_unit_statuses.period.description}"%>
    </h4>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <caption title="<%= "#{@supervisor_unit_status[:unit_id]}" %>">
        <h5> <%= "#{@supervisor_unit_status[:unit_description]}"%></h5>
      </caption>
      <tr>
        <th>Cambio de plantilla</th>
        <% if supervisor_get_employee_change(@supervisor_unit_status[:employees_changed_id]).present? %>
          <td><%= @employee_change.justified_at %> - <%= @employee_change.justified_by %> </td>
        <% else %>
          <td> No se ha realizado ninguno para esta unidad </td>
        <% end %>
      </tr>
      <tr>
        <th>Visto Bueno</th>
        <% if supervisor_get_approval(@supervisor_unit_status[:approval_id]).present? %>
          <td><%= @approval.approval_at %> - <%= @approval.approval_by %> </td>
        <% else %>
          <td> Esta unidad no ha recibido el Visto Bueno  </td>
        <% end %>
      </tr>
    </table>
  </div>

</div>
