<p id="notice"><%= notice %></p>
<div class="row">
  <%= render 'shared/back' %>

  <div class="small-12 columns">
    <div class="small-10 columns">
      <h2><%= t("supervisor.approval.index.title") %></h2>
    </div>
  </div>
</div>

<%= render 'shared/filter_subnav', i18n_namespace: "supervisor.approval.index" %>

<table>
  <thead>
    <tr>
      <th><%= t("supervisor.approval.index.item") %></th>
    </tr>
  </thead>
  <tbody>
  <% @approvals.each do |user| %>
    <tr>
      <td> columna 1      </td>
      <td> columna 2       </td>
      <td> col 3 </td>
      <td> col 4 </td>
    </tr>
  <% end %>
  </tbody>
</table>
