<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-current-user-id="001">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : setting['app_name']%></title>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <%= wicked_pdf_stylesheet_link_tag "print" -%>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>

</html>
